name: Python Testing package
permissions:
  contents: read

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          persist-credentials: false
      - name: Setup Python # Set Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      # Install pip and pytest
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
      - name: Install package
        run: |
          python -m pip install .
      - name: Test with pytest
        run: pytest tests --doctest-modules --junitxml=junit/test-results-${{ matrix.python-version }}.xml
      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ matrix.python-version }}
          path: junit/test-results-${{ matrix.python-version }}.xml
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
      - name: Install numpy
        run: |
          pip install numpy
      - name: Test with pytest with numpy
        run: pytest tests --doctest-modules --junitxml=junit/test-results-${{ matrix.python-version }}-numpy.xml
      - name: Upload pytest test results with numpy
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ matrix.python-version }}-numpy.xml
          path: junit/test-results-${{ matrix.python-version }}-numpy.xml
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}